#name {
  text-align: center;
  font-size: 7vmin;
  color: #DDCCE7;
  margin-top: 15%;
  margin-left: 25%;
  height: 30%;
  width: 50%;
  background-color: #513B3C;
  border-radius: 50px;
  border-width: 10px;
  border-color: black;
  border-style: solid;
  font-family: Harrington,fantasy;

}


#hello {
  background-image: url("https://rawgit.com/chakole2/chakole2.github.io/master/background.png");
  background-color: gray;
}

#tab {
  margin: auto;
  border-width: 5px;
  font-size: 2vmin;
  border-color: #513B3C;
  border-style: solid;
  color: #DDCCE7;
}
/* unvisited link */
a {
    color: #DDCCE7;
}

/* visited link */
a:visited {
    color: #277AF1;
}

/* mouse over link */
a:hover {
    color: #B292B0;
}

/* selected link */
a:active {
    color: black;
}
 
